.mainBook{
    border: 1px solid lightgray;
    border-radius: 5px;
    width: 300px;
    height: 350px;
    margin: 10px;
    max-width: 100%;
    max-height: 100%;
    position: relative;
}
.mainBook:hover{
    outline: none;
    border-color:#7bc1f7;
    box-shadow: 0 0 10px #7bc1f7;
}
.bookBox {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: auto;
    text-align: center;
}
.bookImage {
    display: inline;
    margin-top: 15px;
}
.bookImage img {
    height: 200px;
    width: 200px;
    object-fit: scale-down;
}
.bookTitle{
    font-family: "Rockwell Condensed";
    font-size: 18pt;
    letter-spacing: 1px;
}
.bookAuthor{
    font-size: 12pt;
    font-family: "Bradley Hand ITC";
    font-weight: bold;
}
.bookDate{
    color: darkgray;
    font-family: "Bernard MT Condensed";
    font-size: 9pt;

}